   <!-- Sidebar -->
   <ul class="sidebar navbar-nav" style="background-color: #3d404c!important;">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">
        <i class="fa fa-tachometer margin-right5" aria-hidden="true"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables">
        <i class="fa fa-table margin-right5" aria-hidden="true"></i>
        <span>Tables</span></a>
    </li>
  </ul>

 