<nav class="navbar navbar-expand navbar-dark bg-dark static-top" style="background-color: #5b5a98;">

  <a class="navbar-brand" href="#">Vehicle Portal</a>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/"> <span class="sr-only">(current)</span></a>
          </li>
        </ul>
     <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" [hidden]="isUserLogin">
            <li class="nav-item">
              <a class="nav-link" routerLink="/UserRegister">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/UserLogin">Login</a>
              </li>
          </ul>
          <ul class="navbar-nav mr-auto" [hidden]="!isUserLogin">
              <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
              </li>
          </ul>
    </form>
  </div>
</nav>