<div class="card">
  <div class="card-header">
    Forgot Password
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" ngNativeValidate>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="forgotPasswordModel.email" name="email" required maxlength="200">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

      
    </form>
  </div>
</div>